:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg-normal: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);
    --bg-glow: hsl(0, 0%, 20%);

    --text-normal: hsl(0, 0%, 95%);
    --text-dimmed: hsl(0, 0%, 70%);

    --highlight: hsl(210, 80%, 50%);

    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    padding-top: 10rem;
    background-color: var(--bg-dark);
    color: var(--text-normal);
}

main {
    display: flex;
    flex-direction: column;
}

main section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section div {
    max-width: 1000px;
    flex: 1;
}