:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg-normal: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 20%);
    --bg-glow: hsl(0, 0%, 25%);

    --text-normal: hsl(0, 0%, 95%);
    --text-dimmed: hsl(0, 0%, 70%);

    --highlight: hsl(210, 80%, 50%);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}