.songs-list {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 7rem;
}

.song-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--text-dimmed);
    border: 2px solid transparent;
    transition: all 0.3s;
}

.song-container:hover {
    background-color: var(--bg-normal);
    color: var(--text-normal);
    border-radius: 10px;
    border-color: var(--highlight);
}

.song-container:active {
    opacity: 0.8;
}

.song-info {
    font-size: 1.5rem;
}