.song-info-container {
    background-color: var(--highlight);
}

.lyrics {
    color: var(--text-dimmed);
    padding: 3rem;
    padding-bottom: 30rem;
    font-size: clamp(1.6rem, 2vw, 2.4rem);
}

.lyrics-container {
    max-width: 1000px;
}

.lyrics-container div {
    margin-bottom: 2rem;
}

p {
    line-height: 1.5em;
}

.passed {
    color: var(--text-normal);
}