.song-info {
    display: flex;
    padding: 3rem 3rem;
    gap: clamp(2rem, 6vw, 5rem);
    flex: initial;
}

.cover {
    min-width: 110px;
    width: 35%;
}

.song-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.song-description * {
    margin: 0;
}

.song-title {
    font-size: clamp(2rem, 6vw, 5rem);
}

.song-artist {
    font-size: clamp(1.4rem, 4vw, 3.2rem);
}

.song-link {
    font-size: 1.4rem;
    text-decoration: none;
}

.song-link-button {
    background-color: transparent;
    color: var(--text-normal);
    border: clamp(2px, 0.8vw, 3.5px) solid var(--text-normal);
    border-radius: 0.5rem;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: all 0.3s;
    font-size: clamp(1rem, 3.5vw, 2.2rem);
}

.song-link-button:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.song-link-button:active {
    background-color: hsla(0, 0%, 0%, 0.3);
}